[submodule "themes/omot-theme"]
	path = themes/omot-theme
	url = https://github.com/omot/theme
[submodule "content/photos"]
	path = content/photos
	url = https://github.com/omot/omot-photos
[submodule "content/dialog"]
	path = content/dialog
	url = https://github.com/omot/omot-dialog